    .App {
        text-align: center;
    }
    
    .App-logo {
        height: 40vmin;
        pointer-events: none;
    }
    
    @media (prefers-reduced-motion: no-preference) {
        .App-logo {
            animation: App-logo-spin infinite 20s linear;
        }
    }
    
    .App-header {
        background-color: #282c34;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        color: white;
    }
    
    .App-link {
        color: #61dafb;
    }
    
    @keyframes App-logo-spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    
    .side-bar {
        width: 13rem;
        position: fixed;
        height: 100%;
        top: 0rem;
        background-color: black;
        flex-direction: column;
        height: 92%;
        overflow: hidden;
    }
    
    .icon-resize {
        width: 2rem;
        height: 2rem;
        border-radius: 15px;
    }
    
    .button-custom {
        border: 0px solid black !important;
        background-color: black !important;
        color: white;
        width: 12rem;
        flex-grow: -1;
        flex-flow: column;
        /* margin-right: 2rem !important; */
        margin-left: 0.7rem !important;
        padding-left: 0.75rem;
        border-radius: 6px;
    }
    
    .sidebar-button {
        color: #949090;
    }
    
    hr {
        border-top: 1px solid #6c757d !important;
    }
    
    .playbar {
        position: fixed;
        bottom: 0;
        height: 8.5%;
        width: 100%;
        /* background-color: black; */
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        z-index: 1;
        background-color: #191414;
        color: white;
    }
    
    svg {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    
    .text-ellipsis {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    
    .card-anchor {
        font-size: smaller;
        align-items: center;
        color: white;
        display: flex;
    }